<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fengwei.mybatis01.mapper.UserMapper">
    <resultMap id="userMap" type="SysUser">
        <id property="id" column="id"></id>
        <result property="userName" column="user_name"></result>
    </resultMap>

    <select id="selectById" resultMap="userMap" >
        SELECT user_name FROM sys_user WHERE id = #{id}
    </select>

    <select id="selectAll" resultType="SysUser">
        SELECT * FROM sys_user
    </select>

    <select id="selectRolesByUserId" resultType="SysRole">
        SELECT
           r.id,
           r.role_name,
           r.enabled,
           r.create_by,
           r.create_time,
           u.user_name as "user.userName"
        FROM sys_user u
        INNER JOIN sys_user_role ur on u.id = ur.user_id
        INNER JOIN sys_role r on ur.role_id = r.id
        WHERE u.id = #{userId}
    </select>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into sys_user(user_name, user_password, user_email, user_info, head_img, create_time)
        values(
         #{userName}, #{userPassword}, #{userEmail}, #{userInfo}, #{headImg, jdbcType=BLOB},
        #{createTime, jdbcType=TIMESTAMP}
        )
    </insert>
</mapper>